<section class="dashboard section">
  <!-- Container Start -->
  <div class="container">
    <!-- Row Start -->
    <div class="row">
      <!--<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">-->
        <!--<app-account-navigation></app-account-navigation>-->
      <!--</div>-->

      <div class="col-md-12 col-lg-12">
        <div class="buttons">
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                  data-target="#addProduct">+</button>
        </div>
        <app-products-table></app-products-table>
      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>

<!-- The Modal -->
<div class="modal fade " id="addProduct">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Создать продукт</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form [formGroup]="productForm">
          <div class="form-horizontal col-lg-12">

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label pull-left">Фото:</label>
              <div class="col-md-7 col-xs-12">
                <input type="file" class="form-control input-button" title="" required
                       (change)="onFileChange($event)">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label pull-left">Наименование:</label>
              <div class="col-md-7 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                  <input type="text" class="form-control" formControlName="name" title="" required>
                </div>
                <span class="help-block">Введите наименование продука</span>
                <div class="alert alert-danger" *ngIf="!productForm.get('name').valid
          && formErrors.name">{{ formErrors.name }}</div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label pull-left">Описание:</label>
              <div class="col-md-7 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                  <input type="text" class="form-control" formControlName="description" title="" required>
                </div>
                <span class="help-block">Введите описание</span>
                <div class="alert alert-danger" *ngIf="!productForm.get('description').valid
           && formErrors.description">{{ formErrors.description }}</div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Категория:</label>
              <div class="col-md-7 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                  <input type="text" class="form-control" formControlName="category" title="" required>
                </div>
                <span class="help-block">Выберите категорию</span>
                <div class="alert alert-danger" *ngIf="!productForm.get('category').valid
          && formErrors.category">{{ formErrors.category }}</div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Cтоимость:</label>
              <div class="col-md-7 col-xs-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                  <input type="number" class="form-control" formControlName="price" onkeydown="javascript: return event.keyCode == 69 || event.keyCode == 188 || event.keyCode == 190
                    || event.keyCode == 194 || event.keyCode == 110? false : true" required>
                </div>
                <span class="help-block">Введите стоимость</span>
                <div class="alert alert-danger" *ngIf="!productForm.get('price').valid
          && formErrors.price">{{ formErrors.price }}</div>
              </div>
            </div>

          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default btn-lg btn-logout" (click)="onAddNewProduct()">Add</button>
      </div>

    </div>
  </div>
</div>


