<footer>
  <div class="container">
    <div class="row">

      <div class="offset-md-3 offset-lg-3 col-md-6 col-lg-6">
        <div class="wow shake" data-wow-delay="0.4s">
          <div class="page-scroll marginbot-30">
            <a href="#scroll-point" id="totop" class="btn btn-circle">
              <i class="fa fa-angle-double-up animated"></i>
            </a>
          </div>
        </div>
        <p>@Aloe PLUS+ Lanzarote shop</p>
      </div>
      <div class="col-md-1 col-lg-1">
        <h6 class="certificate-for">ОТВЕТСТВЕННОСТЬ:</h6>
        <img src="assets/img/Empresas-sin-Fronteras.png">
      </div>
    </div>
  </div>
</footer>
